/* @font-face{
    font-family:"Starjedi";
    src:url("/src/front/styles/fonts/Starjedi.ttf")
} */
.audiowide-regular {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.page-background {
    background-image: url('http://www.script-tutorials.com/demos/360/images/stars.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    min-height: 100vh;
}
body {
    
    font-family:'Pathway Gothic One', sans-serif;
    background-color: #000; 
    color: #fff; 
    margin: 0;
    padding: 0;
}


.card {
    width: 18rem;
    position: relative;
    background-color: #1c1c1c; 
    color: #fff;
    border: 1px solid #444;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    margin: 20px;
    overflow: hidden;
}

.card-body {
    padding: 1rem;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

.card-text {
    color: #ccc;
}

.btn-primary {
    background-color: #feda4a; /* Star Wars yellow */
    border-color: #feda4a;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    font-family: 'Star Jedi', sans-serif; /* Button font */
}

.btn-primary:hover {
    background-color: #feda4a; /* Hover color */
    border-color: #feda4a;
    color: #000;
}

.favorite-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #feda4a; /* Star Wars yellow */
    cursor: pointer;
}

.favorite-button:hover {
    color: #ffc107; /* Brighter yellow on hover */
}
.logo-container {
    margin-bottom: 20px; /* Adjust as needed */
}

.star-wars-logo {
    width: 300px; /* Adjust the size as needed */
    height: auto;
}
.fa-jedi{
    color:yellow;
}
.header {
	display: flex;
	align-items: center;
	padding: 20px;
	background-color: #000; /* Black background to match Star Wars theme */
	color: #feda4a; /* Star Wars yellow */
}

.logo {
	width: 100px; /* Adjust the width as needed */
	height: auto;
	margin-right: 20px;
}
.card-img-top {
    width: 100%;
    height: auto; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image covers the card top without distortion */
}
